<%= form_for @personalizacion, :html => { :class => "form-horizontal personalizacion" } do |f| %>

  <% if @personalizacion.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@personalizacion.errors.count, "error") %> prohibited this personalizacion from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @personalizacion.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :liston, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :liston, :class => 'form-control' %>
    </div>
    <%=f.error_span(:liston) %>
  </div>
  <div class="form-group">
    <%= f.label :imagen, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :imagen, :class => 'form-control' %>
    </div>
    <%=f.error_span(:imagen) %>
  </div>
  <div class="form-group">
    <%= f.label :resorte, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :resorte, :class => 'form-control' %>
    </div>
    <%=f.error_span(:resorte) %>
  </div>
  <div class="form-group">
    <%= f.label :tipodehoja, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :tipodehoja, :class => 'form-control' %>
    </div>
    <%=f.error_span(:tipodehoja) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                personalizacions_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
