<%- model_class = Personalizacion -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:liston) %></th>
      <th><%= model_class.human_attribute_name(:imagen) %></th>
      <th><%= model_class.human_attribute_name(:resorte) %></th>
      <th><%= model_class.human_attribute_name(:tipodehoja) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @personalizacions.each do |personalizacion| %>
      <tr>
        <td><%= link_to personalizacion.id, personalizacion_path(personalizacion) %></td>
        <td><%= personalizacion.liston %></td>
        <td><%= personalizacion.imagen %></td>
        <td><%= personalizacion.resorte %></td>
        <td><%= personalizacion.tipodehoja %></td>
        <td><%=l personalizacion.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      personalizacion_path(personalizacion), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_personalizacion_path(personalizacion), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      personalizacion_path(personalizacion),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_personalizacion_path,
            :class => 'btn btn-primary' %>
