<p id="notice"><%= notice %></p>

<p>
  <strong>Liston:</strong>
  <%= @personalizacion.liston %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @personalizacion.imagen %>
</p>

<p>
  <strong>Resorte:</strong>
  <%= @personalizacion.resorte %>
</p>

<p>
  <strong>Tipodehoja:</strong>
  <%= @personalizacion.tipodehoja %>
</p>

<%= link_to 'Edit', edit_personalizacion_path(@personalizacion) %> |
<%= link_to 'Back', personalizacions_path %>
