<%= form_for(cuaderno) do |f| %>
  <% if cuaderno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cuaderno.errors.count, "error") %> prohibited this cuaderno from being saved:</h2>

      <ul>
      <% cuaderno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tiempo %>
    <%= f.time_select :tiempo %>
  </div>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.number_field :tipo %>
  </div>

  <div class="field">
    <%= f.label :beneficio %>
    <%= f.text_field :beneficio %>
  </div>

  <div class="field">
    <%= f.label :liston %>
    <%= f.number_field :liston %>
  </div>

  <div class="field">
    <%= f.label :imagen %>
    <%= f.text_field :imagen %>
  </div>

  <div class="field">
    <%= f.label :resorte %>
    <%= f.number_field :resorte %>
  </div>

  <div class="field">
    <%= f.label :tipohojas %>
    <%= f.number_field :tipohojas %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
