<p id="notice"><%= notice %></p>

<h1>Cuadernos</h1>

<table>
  <thead>
    <tr>
      <th>Tiempo</th>
      <th>Tipo</th>
      <th>Beneficio</th>
      <th>Liston</th>
      <th>Imagen</th>
      <th>Resorte</th>
      <th>Tipohojas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuadernos.each do |cuaderno| %>
      <tr>
        <td><%= cuaderno.tiempo %></td>
        <td><%= cuaderno.tipo %></td>
        <td><%= cuaderno.beneficio %></td>
        <td><%= cuaderno.liston %></td>
        <td><%= cuaderno.imagen %></td>
        <td><%= cuaderno.resorte %></td>
        <td><%= cuaderno.tipohojas %></td>
        <td><%= link_to 'Show', cuaderno %></td>
        <td><%= link_to 'Edit', edit_cuaderno_path(cuaderno) %></td>
        <td><%= link_to 'Destroy', cuaderno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cuaderno', new_cuaderno_path %>
