<p id="notice"><%= notice %></p>

<p>
  <strong>Tiempo:</strong>
  <%= @cuaderno.tiempo %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @cuaderno.tipo %>
</p>

<p>
  <strong>Beneficio:</strong>
  <%= @cuaderno.beneficio %>
</p>

<p>
  <strong>Liston:</strong>
  <%= @cuaderno.liston %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @cuaderno.imagen %>
</p>

<p>
  <strong>Resorte:</strong>
  <%= @cuaderno.resorte %>
</p>

<p>
  <strong>Tipohojas:</strong>
  <%= @cuaderno.tipohojas %>
</p>

<%= link_to 'Edit', edit_cuaderno_path(@cuaderno) %> |
<%= link_to 'Back', cuadernos_path %>
